<div id="container">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
      <%# bug here %>
        <%# <%= image_tag "BMW-328.jpeg", class: "img-carousel d-block w-100"%>
        <img class= "img-carousel d-block w-100" src="      https://www.motorbiscuit.com/wp-content/uploads/2021/06/Classic-Car-on-display-1024x683.jpg" alt="">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title-carousel">Feel alive</h1>
          <h2 class="description-carousel">Do you want to drive through history?</h2>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <%# <%= image_tag "Datsun-240Z.jpeg", class: "img-carousel d-block w-100"%>
                <img class= "img-carousel d-block w-100" src="https://cdn.luxe.digital/media/2021/11/26104812/best-classic-cars-vintage-Aston-Martin-DB5-1964-old-luxe-digital%402x.jpg" alt="">

        <div class="carousel-caption d-none d-md-block">
          <h1 class="title-carousel">Travel to the past</h1>
          <h2 class="description-carousel">Do you want to drive a legendary car?</h2>
        </div>
      </div>
      <div class="carousel-item">
        <%# <%= image_tag "Ferrari-250-GTO.jpeg", class: "img-carousel d-block w-100"%>
                <img class= "img-carousel d-block w-100" src="https://m.atcdn.co.uk/ect/media/%7Bresize%7D/094b59ec1182463fa9cff88df88de65b.jpg" alt="">

        <div class="carousel-caption d-none d-md-block">
          <h1 class="title-carousel">Imagine that it is possible</h1>
          <h2 class="description-carousel">In classic cars your dreams are on wheels.</h2>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<%# en carousel %>
