.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0.5;
}

.dropdown-item {
  text-align: right;
}

.input-group {
  width: 40vw;
}

.nav-item {
  flex: 1;
  display: inline-flex;
  align-items: center;
}

#left-div {
  margin-right: auto;
}
#right-div {
  margin-left: auto;
}

.pointer {cursor: pointer;}

.logo-font {
  font-family: 'Aboreto', cursive;
  margin-left: 10px;
}

#search-bar:focus {
  box-shadow: none;
  border-color: black;
}

#search-bar {
  border-radius: 3px 0 0 3px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

#button-search {
  border-radius: 0 3px 3px 0;
}

fixed-nav-bar { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px; background-color: #00a087; }
