.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0.5;
}

.dropdown-item {
  text-align: right;
}

.input-group {
  width: 35vw;
}

.nav-item {
  flex: 1;
  display: inline-flex;
  align-items: center;
}

#left-div {
  margin-right: auto;
}

.pointer {cursor: pointer;}
