<div class="user-card-container">
  <img class="user-avatar" src="https://randomuser.me/api/portraits/men/11.jpg" alt="user photo">
  <h4 class="user-name">User Name</h4>
  <p class="user-intro">I really love cars, mmmmm cars. Fast ones, old ones, gotta love em.</p>
</div>
