<div class="user-card-container">
  <img class="user-avatar" src="" alt="user photo">
  <hr>
  <h4 class="user-name">User Name</h4>
  <p class="user-intro"><%=LoremIpsum.lorem_ipsum(words: 100)%></p>
</div>
