<div class="user-card-container">
  <img class="user-avatar" src=<%car.user.photo.key%>% alt="user photo">
  <h4 class="user-name"><%= car.user.name %></h4>
  <p class="user-intro">I really love cars, mmmmm cars. Fast ones, old ones, gotta love em.</p>
</div>
